<div class="dashboard">
  <div class="container mx-auto px-4">
    <div class="header-wrapper flex justify-between items-center">
      <h2 class="text-xl font-bold mb-2 mt-8">Dashboard</h2>

      <div class="button-wrapper">
        <button (click)="onLogOut()" class="ease-out duration-300 hover:bg-slate-600 rounded-lg bg-violet-600 px-8 py-2 text-white mr-2.5">Log out</button>
        <button routerLink="/blog" class="ease-out duration-300 hover:bg-slate-600 rounded-lg bg-violet-600 px-8 py-2 text-white mr-2.5">Blog</button>
      </div>
    </div>

    <app-post-form></app-post-form>
  </div>
</div>
